:root {
  --blue-light-1: #9ce3ff;
  --blue-light-2: #75c8e8;
  --blue-medium-1: #1f7292;
  --blue-medium-2: #014f6d;
  --dark-blue: #012c3d;

}
html {
  width: 100%;
}
#root {
  font-family: "Montserrat", sans-serif;
}
.app-container {
  background-color: var(--blue-medium-1);
}
nav {
  background-color: var(--dark-blue);
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  color: var(--blue-medium-1);
}
nav div {
  gap: 1rem;
}
.logo {
  width: 150px;
  height: 41px;
}
.titulo-patrocina {
  color: white;
  text-align: center;
}
.apoio-realizacao-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.apoio-realizacao-img-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}
.programacao-container {
  background-color: var(--blue-medium-2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.programacao-container h2 {
  color: white;
}
.palestrantes-container {
  padding: 1rem;
}
.btn-outline-light {
  font-size: large !important;
  font-weight: 500 !important;
  border-radius: 25px !important;
}
.btn-outline-light:hover {
  color: #1f7292 !important;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: white !important;
  color: var(--blue-light-1) !important;
}
.line {
  background-color: var(--dark-blue);
  width: 100%;
  height: 5px;
}
.contact-container {
  height: 40px;
  align-items: center;
}
.fa-envelope,
.fa-regular {
  color: white;
}
.bi .bi-telephone {
  color: white;
  background-color: white;
}
.email,
.phone {
  color: white;
  padding: 0 !important;
  margin: 0 !important;
}
.patrocinadores {
  height: 180px;
  background-color: var(--blue-medium-1);
  border-radius: 30px 30px 0 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.patrocinadores h6 {
  color: whitesmoke;
  padding-bottom: 1.5rem;
}
.patrocinadores div {
  flex-wrap: wrap;
  align-items: center;
}
.patrocinadores div img {
  height: 60px;
}
footer {
  background-color: var(--dark-blue);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  border-radius: 30px 30px 0 0;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 8rem;
}
footer div h5 {
  color: white;
}
.titulo-palestrantes {
  color: white;
  font-weight: bold;
}
#icon-menu {
  color: white !important;
}
#menu-mobile {
  color: var(--blue-light-1) !important;
  cursor: pointer;
  size: 40px !important;
  padding-left: 2rem !important;
}
.offcanvas {
  background-color: var(--dark-blue) !important;
  max-width: 70% !important;
}
.offcanvas-backdrop {
 opacity: 0 !important;
}
.offcanvas-backdrop show{
 opacity: 0 !important;
}
.offcanvas-title {
  background-color: var(--dark-blue) !important;
}
.offcanvas-header {
  background-color: var(--dark-blue) !important;
  color: white !important;
  font-weight: 800 !important;
}
.offcanvas-body {
  background-color: var(--dark-blue);
}
.btn-close {
  background: var(--blue-light-2) var(--bs-btn-close-bg) center/1em auto
    no-repeat !important;
}
.btn-outline-dark {
  color: var(--dark-blue) !important;
  border-color: var(--dark-blue) !important;
  width: 75% !important;
}
.btn-outline-dark:hover {
  color: white !important;
  background-color: var(--dark-blue ) !important;
  
}
.container {
  background-color: var(--blue-medium-1) !important;
  width: min-content;
}
.card {
  background-color: white !important;
  border: none !important;
  width: min-content;
}
.card-text {
  height: 50px;
  overflow-y: hidden;
  text-overflow: ellipsis !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: auto !important;
}

.card-text-scroll {
  max-height: 50px !important; /* Set the maximum height you want for the scrolling area */
  overflow-y: auto !important;
}
.card-text-scroll p {
  margin: 0 !important; /* Remove default margin to avoid extra space */
   /* Enable vertical scrolling */
  padding-right: 5px !important; /* Add some right padding to account for the scrollbar */
}
.img-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.card-body {
  height: 190px;
}
swiper-container {
  background-color: white !important;
  height: 210px !important;
  position: relative;
  width: 100%;
}
swiper-container swiper {
  width: 100%;
}
.swiper-wrapper {
  display: flex !important;
  flex-direction: row !important;
}
.swiper-slide {
  width: 410px !important;
}
.fa-circle-arrow-right, 
.fa-circle-arrow-left {
  font-size: 45px;
  color: white;
}
.fa-circle-arrow-right:hover, 
.fa-circle-arrow-left:hover {
  color: var(--dark-blue);
}
.btn-outline-dark {
  border-radius: 25px !important;
  font-weight: 600 !important; 
}
@media (max-width: 626px) {
  .t-realizacao {
    margin-top: 2rem !important;
  }
}
@media (min-width: 411px) {
  .footer {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .apoio-realizacao-img-container {
    justify-content: center;
  }

}
@media (max-width: 664px) {
  .titulo-patrocina {
    font-size: medium;
  }
  .banner-main {
    height: 320px !important;
  }
  nav {
    height: 85px;
  }
  #programacao {
    margin: 6px !important;
    margin-bottom: 3rem !important;
    margin-top: 2rem !important;
  }
}
@media (max-width: 767px) {
  #texto-apoio,
  #texto-realizacao {
    text-align: center !important;
  }
}
@media (max-width: 726px) {
  nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 2000px) {
  html {
    font-size: 180%;
    max-width: 99vw;
  }
  nav {
    height: 100px;
  }
  swiper-container {
    height: 350px !important;
  }
  .swiper-slide {
    width: 520px !important;
  }
  .btn-outline-dark {
    width: 100% !important;
  }
  .card, .swiper-slide {
    width: 540px !important;
  }
  .card-title {
    font-size: 32px !important;
    width: 400px !important;
    margin-bottom: 5px !important;
    padding-bottom: 0 !important;
  }
  .card-text {
    height: 120px !important;
    width: 330px !important;
    font-size: 25px;
  }
  .img-container {
    width: 144px !important;
    height: 144px !important;
  }
  .img-container img{
    width: 144px !important;
    height: 144px !important;
  }
  .card-body {
    height: 280px;
    width: 380px;
  }
  swiper-slide {
    display: flex ;
    align-items: center;
  }
  .fa-circle-arrow-right, 
  .fa-circle-arrow-left {
    font-size: 80px;
  }

  
}
