:root {
    --blue-light-1: #9ce3ff;
    --blue-light-2: #75c8e8;
    --blue-medium-1: #1f7292;
    --blue-medium-2: #014f6d;
    --dark-blue: #012c3d;
}
html {
    width: 100%;
}
#root {
    font-family: 'Montserrat', sans-serif;
}
.app-container {
     background-color: var(--blue-medium-1); 
}
nav {
    background-color: var(--dark-blue);
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    color: var(--blue-medium-1);
    -webkit-box-shadow: 2px 12px 30px -9px rgba(1,79,109,1);
    -moz-box-shadow: 2px 12px 30px -9px rgba(1,79,109,1);
    box-shadow: 2px 12px 30px -9px rgba(1,79,109,1);
}
nav div {
    gap: 1rem;
}
.logo {
    width: 150px;
    height: 41px;
}
.titulo-patrocina {
    color: white;
    text-align: center;
}
.apoio-realizacao-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.apoio-realizacao-img-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
.programacao-container {
    background-color: var(--blue-medium-2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.programacao-container h2 {
    color: white;
}
.palestrantes-container {
    padding: 1rem;
}
.btn-outline-light {
    font-size: large !important;
    font-weight: 500 !important;
    border-radius: 25px !important;
    
}
.btn-outline-light:hover {
    color: #1f7292 !important;
}
.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: white !important;
    color: var(--blue-light-1) !important;
}
.line {
    background-color: var(--dark-blue);
    width: 80%;
    height: 3px;
}
.contact-container {
    height: 40px;
    align-items: center;
}
.fa-envelope, .fa-regular {
 color: white;
}
.bi .bi-telephone {
    color: white;
    background-color: white;
}
.email, .phone {
    color: white;
    padding: 0 !important;
    margin: 0 !important;
}
.patrocinadores {
    height: 180px;
    background-color: var(--blue-medium-1);
    border-radius: 30px 30px 0 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.patrocinadores h6 {
    color: whitesmoke;
    padding-bottom: 1.5rem;
}
.patrocinadores div {
    flex-wrap: wrap;
    align-items: center;
}
.patrocinadores div img {
    height: 60px;
    
}
footer {
    background-color: var(--dark-blue);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    border-radius: 30px 30px 0 0;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 8rem;
}
footer div h5 {
    color: white;
}
#icon-menu {
    color: white !important;
}
#menu-mobile {
    color: var(--blue-light-1) !important;
    cursor: pointer;
    size: 40px !important;
    padding-left: 2rem !important;
}
.offcanvas {
    background-color: var(--dark-blue) !important;
    max-width: 70% !important;
}
.offcanvas-title {
    background-color: var(--dark-blue) !important;
    
}
.offcanvas-header {
    background-color: var(--dark-blue) !important;
    color: white !important;
    font-weight: 800 !important;
    
}
.offcanvas-body {
    background-color: var(--dark-blue);
}
.btn-close {
    background: var(--blue-light-2) var(--bs-btn-close-bg) center/1em auto no-repeat !important;
}

@media (min-width: 411px) {
    .footer {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .apoio-realizacao-img-container {
        justify-content: center;
    }
    #logo-finom-footer {
        width: 200px !important;
        height: 50px !important;
    }
    #logo-fonseca-footer {
        width: 230px !important;
    }
}
@media (max-width: 449px) {
    #finom-logo-cima {
        width: 210px !important;
        height: 70px !important;
    }

}
@media (max-width: 578px) {
     #fiemg-logo-cima  {
        width: 170px !important;
        height: 110px !important;
    }
    #colegio-logo-cima {
        width: 190px !important;
        height: 160px !important;
    }
    #sebrae-logo-cima {
        width: 140px !important;
        height: 100px !important;
    }
}
@media (max-width: 664px) { 
    .titulo-patrocina {
        font-size: medium;
    }
    .banner-main {
        height: 320px !important;
    }
    nav {
        height: 85px;
    }
    #programacao {
        margin: 6px !important;
        margin-bottom: 3rem !important;
        margin-top: 2rem !important;
    }

}
@media (max-width: 767px) {
    #texto-apoio, #texto-realizacao  {
        text-align: center !important;
        
    }
    #logo-fonseca {
        width: 100px !important;
    }

}
@media (max-width: 726px) {
    nav {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}